build/android-profile/
app/.externalNativeBuild
build/generated/
build/intermediates
.gradle/3.3/taskArtifacts
build/
.gradle/3.3/tasks/
.idea//
.gradle/
*/.DS_Store
.idea/workspace.xml
app/app.iml
.idea/modules.xml
*.DS_Store
